body {
    background:#f4f4f9;
color:#333333;
margin-left: 350px;
margin-right: 350px;
font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h1 {
    margin: 40px;
    text-align: center;
    
}

a{
    color:#858585;
}

.container {
    background: rgb(196, 195, 195);
        border-radius: 20px 20px 0px 0px;
        padding: 30px;
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
      margin-bottom: 17px;
      text-align: center;
}

#word{
padding: 15px 30px;
border-radius: 10px;
border:1px solid #333333;
}

#language {
padding: 15px 30px;
border-radius: 10px;
border: none;
border:1px solid #333333;
}

#input-button {
padding: 16px 30px;
border-radius: 23px;
border: none;
background: #333333;
color: white;
box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

#input-button:hover {
  background-color:#535353;
  transform: translateY(-2px);
  box-shadow: 0 5px 15px rgba(41, 41, 41, 0.3);
}
.description-container {
    background: rgb(233, 231, 231);
        border-left: 5px solid black;
        padding: 50px 30px;
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
      border-radius: 0px 0px 20px 20px;

}

footer{
margin-top: 20px;
    text-align: center;
    font-size: 12px;
}