body {
background: -webkit-linear-gradient(273deg, #4cb5f5,#e7e8ee,#b3c100);/* Chrome 10-25, Safari 5.1-6 */                          background: linear-gradient(273deg, #4cb5f5,#e7e8ee,#b3c100);              
color:#333333;
font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1 {
    margin: 40px 0px 10px;
    text-align: center;  
    color: #203F49; 
}

p {
    text-align: center;  
    color: #203F49; 
    margin-bottom: 30px;
}

a{
    color:#203F49;
}

.container {
    background: #B6B8B5;
        border-radius: 20px 20px 0px 0px;
        padding: 30px;
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
      width: 100%;
  max-width: 600px;
  padding-bottom: 10px;
  margin: 0 auto;
  display: block;
}

#word{
padding: 15px 30px;
border-radius: 10px;
border: none;
margin-bottom: 5px;
}

#language {
padding: 15px 30px;
border-radius: 10px;
border: none;
}

#input-button {
padding: 16px 30px;
border-radius: 23px;
border: none;
background: #B3C100;
color: white;
box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

small {
    color: #7c7c7b;
}

#input-button:hover {
  background-color:#d3e204;
  transform: translateY(-2px);
  box-shadow: 0 5px 15px rgba(41, 41, 41, 0.3);
}
#description-element {
    background: #B6B8B5;
        border-left: 5px solid #203F49;
        padding: 50px 30px;
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
      border-radius: 0px 0px 20px 20px;
width: 100%;
  max-width: 600px;
  margin: 30px auto;
  display: block;
  font-size: 15px;
}

footer{
margin-top: 20px;
    text-align: center;
    font-size: 12px;
}
.hidden {
  display: none !important;
}

.loading.image {
    text-align: center;
}